.u-d-b { display: block !important; }
.u-d-i { display: inline !important; }
.u-d-ib { display: inline-block !important; }
.u-hide { display: none !important; }

.u-d-flex { display: flex; }
.u-justify-content-center { justify-content: center; }
.u-flex-shrink-0 {
  flex-shrink: 0;
}
