html {
  font-size: $font-size--root;
}

body {
  background: #e4dfd6 url(/assets/img/book-bg.jpg) top left;
  background-size: 62.0625rem 69.9375rem;
  font-family: "Crimson Text", Georgia, Times, "Times New Roman", serif;
  color: #4a4a49;
}
