//@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@font-face {
  font-family: 'Leander';
  src: url('fonts/CrimsonText/CrimsonText-Regular.ttf');
}

@font-face {
  font-family: 'Leander';
  src: url('fonts/Leander/Leander.ttf');
}
